.gradle
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache
gradle-app.setting
.*~

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
out/
nbbuild/
dist/
nbdist/
.nb-gradle/